/************/
/*Global*/
html,body {font-family: Helvetica, Arial, Sans-serif;background: #aaa;}
section { margin-bottom: 50px;background:white;}
label {display:block;clear:both;}
.copy-text {
    border: 1px solid black;
    font-family:monospace;
    padding:15px;
    color:darkBlue;
    background: #eee
}

.col-md-15 {
    width: 62.5%;
}

h1 {
    font-size:36px;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

label {color:blue!important; font-weight: bold;}

input, input[type=text] {
    width: 50%;
    background: #fff;
    height: auto;
    color: black;
    display: block;
    border: 1px solid #cccfd1;
    margin-bottom: 0px;
    padding-left: 20px;
    font-family: "Maison Neue Book",Calibri,Arial,Roboto,sans-serif;
    font-size: 12px;
    font-style: normal;
}


/************/
#Photo-Left-w-text {

}